// colors
$accent: #FF40BF;
$accent-1: #FFBFE9;
$accent-2: #FF99DD;
$accent-3: #660043;

$white: #F2F2F2;
$gray-1: #BFBFBF;
$gray-2: #797979;
$gray-3: #333333;
$black: #000000;

// number
$n: .0625rem;

// fonts
$font-heading: var(--font-heading);
$font-body: var(--font-body);